{% from "macros.html" import render_field %}

{% extends 'beko/navbar.html' %}

{% block content %}


    <section class="container-center">
        <form action="/cadastrarnews" enctype="multipart/form-data" method="post">
            <div class="page-header">
                <h1>Cadastro de Notícias</h1>
            </div>
            {{ form.csrf_token }}

                <div class="form-group">

                   <p>{{ render_field(form.titulo) }}</p>
                    <p>{{ render_field(form.conteudo) }}</p>
                   <p> {{ render_field(form.img) }}</p>
                </div>

                <div>
                <input type="submit" class="btn btn-primary btn-lg btn-submit" value="Salvar Cadastro"/>
                <a href="/listanews" ><input type="button" class="btn btn-primary btn-lg" value="Lista"></a>
                <a href="/home" ><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
                </div><br>
        </form>
    </section>
{% endblock %}
