
{% extends 'beko/navbar.html' %}
{% block styles -%}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <!--link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/bootstrap-theme.css')}}"-->


{% endblock %}



<style>
 .jumbotron {
  margin-top: 1em;  // add a little space
}

#slide_background {
  transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
  transition: all 0.3s ease-out;
}
#slide {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #slide {
  transform: translateX(0) translateY(0);
}



.container
{
    margin-top: 5px;
    width: 98%;
}



p
{
    padding: 0px;
}
.form-signin
{

    text-align: center;
    margin: auto;
    width: 300px;
}


.col-md-12
{
    width:100%;
}

.alert
{
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.panel-title
{
    padding-top:0px;
}

.navbar-brand, .navbar>.container-fluid .navbar-brand
{
    background-image: url(/favicon.ico);
    background-repeat: no-repeat;
    font-size: 32px;
    padding-left: 60px;
    margin-left: 5px;
}

.navbar-nav
{
    float: right;
    flex-direction: row;
}

.navbar
{
    margin-botton:0px;
}

#map {
    height: 400px;
}

.formfield
{
    padding: 10px;
}

.td, .th{
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0px;
    vertical-align: baseline;
}

.btn-alignRight {
    float: right;
}

.btn-group
{
    display: flex;
}
.btn-group>.btn
{
    width: 40px;
}

.profile_img
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile_head
{
    padding-botton: 20px;
    text-align: center;
}

.profile_body
{
    padding-botton: 20px;
    text-align: center;
}

.profile_footer
{
    text-align: center;
}

</style>

{% block content %}

<body >

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{%- with messages = get_flashed_messages(with_categories=True) %}
 {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

<!-- barra lateral -->

<style>

    .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

</style>
<!-- modal -->

<div class="modal fade" id="imageeditor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Image Editor</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<script type="text/javascript">

								function sendimage(){
									document.getElementById('imageform').submit();
									window.location.href = "/home";
								};

							</script>
							<form id="imageform" method="POST" action="/home" enctype=multipart/form-data>
								<input name="gif" type="file" id="fileupload" accept="image/*">

								<script>
									function uploadphoto(){
										document.getElementById('fileupload').name = "gif"
									};

								</script>

								<br><br>

								<button value='submit' onclick='sendimage()' style='margin-left: 10px;'class="btn btn-primary">Submit</button>
							</form>

							<div class="modal-footer">
								
								<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
 <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});
    </script>

<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
            		<img src="static/page/{{userphoto}}" style="margin-left: 35px; width: 100px"><br>
            	
            		<button id="photo" data-toggle="modal" data-target="#imageeditor" onclick="uploadphoto()" style="margin-left: 100px;" class="btn btn-secondary btn-sm">Edit</button>
                
                <p style="margin-left: 35px;">{{username}}</p><br>

                <li class="active">
                    {% if userpower == '1' %}
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Adm</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/cadastrarnews">Cadastro de Notícias</a>
                        </li>
                        <li>
                            <a href="/admchat">Chat</a>
                        </li>
                        <li>
                            <a href="#">Matrículas</a>
                        </li>
                        <li>
                            <a href="#">Moderação</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                
            </ul>
            
        </nav>
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="position: absolute;
  left: auto;">
                        
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                    </button>

                    
                </div>
            </nav>

        {% for news in news %}
            <div id="about">
            <div class="container">
            <div class="row" style="background-color: darkgrey">
            <div class="col-md-6 col-sm-12">
                <img src='/static/page/{{news.img }}' style="height: 300px">
            </div>
            <div class="col-md-6 col-sm-12 about-des">
                <h2>{{ news.titulo }} </h2>
                <a href="/conteudonews/{{ news.news_id }}" class="btn btn-default">ACESSAR</a>
            </div>
            </div>
            </div>
            </div>
            <br>
        {% endfor %}

        </div>
    </div>


{% endblock %}
</body>

