{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Lista de Notícias</h1>
</div>
<div class="table-responsive-xl">
    <table  class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Conteúdo</th>
                <th>Imagem</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
        </thead>
        {% for news in news %}
            <tbody>
                <tr>
                    <td>{{ news.news_id }}</td>
                    <td>{{ news.titulo }}</td>
                    <td>{{ news.conteudo }}</td>
                    <td><img style="width:100px" src='/static/page/{{news.img }}'></td>
                    <td><a href="/excluir/{{ news.news_id }}">Remover</a></td>
                    <td><a href="/atualizar/{{ news.news_id }}">Alterar</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table><br>
    <a href="/cadastrar"><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>
</div>    
{% endblock %}